[submodule "Enigma/vendor/spdlog"]
	path = Enigma/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Enigma/vendor/GLFW"]
	path = Enigma/vendor/GLFW
	url = https://github.com/TL044CN/glfw
