[submodule "Enigma/vendor/spdlog"]
	path = Enigma/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Enigma/vendor/GLFW"]
	path = Enigma/vendor/GLFW
	url = https://github.com/TL044CN/glfw
[submodule "Enigma/vendor/ImGui"]
	path = Enigma/vendor/ImGui
	url = https://github.com/TL044CN/imgui
[submodule "Enigma/vendor/glm"]
	path = Enigma/vendor/glm
	url = https://github.com/g-truc/glm
